@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* 

Hero

*/

body {
	background-color: #181818;
	font-family: Integralcf, sans-serif;
	color: #eee;
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
}

.nav-header-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}


.simple-nav-header {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #f8f8f8;
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
}

.header-logo {
	width: 60px;
	margin-right: 0.8rem;
}

.long-button {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #f8f8f8;
}

.icon-button-2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 15px;
	margin-bottom: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	color: #f8f8f8;
	font-size: 0.8rem;
	font-weight: 500;
	text-decoration: none;
}

.icon-button-2:hover {
	opacity: 0.65;
}

.section-wrap {
	width: 100vw;
	height: 140vh;
}

.section {
	display: none;
	width: 100vw;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.section.show {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: auto;
}

.hero-coin-wrap {
	position: relative;
	left: -11.8rem;
	top: 1.4rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 35rem;
	height: 35rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: #777;
	border-radius: 50%;
	background-color: hsla(0, 0%, 51.3%, 0.28);
}

.hero-coin-wrap.frosted {
	position: relative;
	left: -15.3rem;
	top: 0.6rem;
	right: auto;
	bottom: auto;
}

.coin-logo {
	width: 40%;
}

.wrapper {
	position: -webkit-sticky;
	position: sticky;
	top: 0rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.sticky-header-column {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	height: 100vh;
	padding-top: 15vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.heading-2 {
	margin-top: 0px;
	margin-bottom: 1.3rem;
	color: #fff;
	font-size: 70px;
	font-weight: 800;
}

.guideline-wrap-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	text-align: left;
}

.guideline-wrap-info.left-align {
	height: 120vh;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	text-align: left;
}

.list-item {
	font-size: 0.9rem;
	line-height: 1.5;
	font-weight: 400;
	text-align: left;
}

.large-number {
	margin-bottom: 0px;
	font-size: 60px;
	font-weight: 200;
	text-align: left;
}

.large-number.outline {
	margin-bottom: 0.8rem;
}

.outline {
	position: absolute;
	left: -10px;
	top: -10px;
	right: 0%;
	bottom: 0%;
	z-index: 0;
	border-style: solid;
	border-width: 0.01em;
	border-color: #a5a5a5;
}

.about-text-wrap {
	position: relative;
	z-index: 5;
	width: 900px;
	margin-bottom: 2rem;
	padding-right: 5.1rem;
	padding-left: 5.1rem;
}

.event-video-btn-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 25px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.play-button-img {
	width: 30px;
	height: 30px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.pulse-button-wrap {
	position: relative;
	z-index: 90;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: -webkit-transform 200ms ease;
	transition: -webkit-transform 200ms ease;
	transition: transform 200ms ease;
	transition:
		transform 200ms ease,
		-webkit-transform 200ms ease;
}

.pulse-button-wrap:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.pulse-button-wrap:active {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.play-button-text {
	padding-left: 15px;
	font-size: 1rem;
	font-weight: 400;
}

.profile-image {
	width: 20rem;
	height: 30rem;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-o-object-fit: cover;
	object-fit: cover;
}

.about-text-large {
	margin-bottom: 1.4rem;
	font-size: 4rem;
	line-height: 1;
	font-weight: 900;
	letter-spacing: -3px;
}

.about-text-large.outline-text {
	line-height: 1;
}

.profile-wrap {
	position: absolute;
	left: 1.8rem;
	top: 7%;
	right: auto;
	bottom: auto;
	z-index: 1;
	margin-left: 5rem;
	opacity: 0.43;
}

.profile-wrap._2 {
	left: auto;
	top: auto;
	right: 5rem;
	bottom: 0%;
}

.heading-4 {
	width: 60ch;
	font-family: Poppins, sans-serif;
	font-size: 1.2rem;
	line-height: 1.3;
	font-weight: 400;
}

.pulse-button-text-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.summary-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	max-width: 1300px;
	min-height: 20vh;
	padding: 7.6rem 7.7rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.play-button-pulse {
	position: absolute;
	left: 50%;
	top: 50%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	-webkit-transform: translate(0px, -50%) translate(-50%, 0px);
	-ms-transform: translate(0px, -50%) translate(-50%, 0px);
	transform: translate(0px, -50%) translate(-50%, 0px);
}

.pulsing-play-button {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 80px;
	height: 80px;
	padding: 20px 20px 20px 24px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #f8f8f8;
	border-radius: 100%;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

.section-dose {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.section-dose.show {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: auto;
}

.video-modal {
	position: fixed;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1001;
	display: none;
	width: 100vw;
	height: 100vh;
	padding: 11%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #000;
}

.video-2 {
	border: 1px none #000;
}

.video-modal-close-button {
	position: absolute;
	left: auto;
	top: 3%;
	right: 2%;
	bottom: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 5px;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.underline-button-wrap-2 {
	position: relative;
	color: #f8f8f8;
	text-decoration: none;
}

.top-line-wrap-2 {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 21px;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.top-line {
	position: relative;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 1px;
	margin-bottom: 5px;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	background-color: #000;
	direction: rtl;
}

.button-text-2 {
	font-size: 0.8rem;
	font-weight: 600;
	text-transform: uppercase;
}

.underline {
	position: absolute;
	left: 0%;
	top: auto;
	right: 0%;
	bottom: 0%;
	height: 1px;
	margin-bottom: -2px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 5px;
	background-color: #f8f8f8;
}

@media screen and (max-width: 991px) {
	.hero-coin-wrap {
		width: 17rem;
	}

	.coin-logo {
		width: 17rem;
	}

	.large-hero-text {
		font-size: 5.5rem;
		font-weight: 800;
	}

	.large-hero-text._2 {
		font-weight: 400;
	}

	.sticky-header-column {
		width: 50%;
		padding-right: 35px;
		padding-left: 35px;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.heading-2 {
		font-size: 50px;
	}

	.list-item {
		font-size: 0.8rem;
	}

	.outline {
		left: -1px;
		top: -11px;
		bottom: 5%;
	}

	.about-text-wrap {
		width: 100%;
		padding-right: 0rem;
		padding-left: 0rem;
	}

	.event-video-btn-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.play-button-text {
		font-size: 1.7rem;
	}

	.profile-image {
		width: 16rem;
		height: 400px;
	}

	.about-text-large {
		font-size: 4.4rem;
	}

	.profile-wrap {
		margin-left: 0.3rem;
		padding-right: 2%;
		padding-left: 2%;
	}

	.summary-wrapper {
		padding-right: 5rem;
		padding-left: 5rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.video-modal {
		padding-right: 4%;
		padding-left: 4%;
	}

	.top-line-wrap-2 {
		font-size: 12px;
	}

	.button-text-2 {
		font-size: 14px;
	}

	.underline {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {


	.simple-nav-header {
		font-size: 1rem;
	}

	.hero-coin-wrap {
		width: 15rem;
	}

	.coin-logo {
		width: 15rem;
	}

	.wrapper {
		width: 100%;
	}

	.heading-2 {
		font-size: 46px;
	}

	.outline {
		top: 14px;
	}

	.event-video-btn-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.play-button-text {
		font-size: 1.5rem;
	}

	.profile-wrap {
		padding-top: 0%;
		padding-bottom: 0%;
	}

	.profile-wrap._2 {
		right: 1.3rem;
		width: auto;
	}

	.summary-wrapper {
		padding-right: 2.3rem;
		padding-left: 2.3rem;
	}
}

@media screen and (max-width: 479px) {


	.simple-nav-header {
		margin-bottom: 3px;
		font-size: 0.8rem;
	}

	.header-logo {
		width: 50px;
		margin-right: 0.5rem;
	}

	.icon-button-2 {
		font-size: 0.75rem;
	}

	.hero-coin-wrap {
		width: 12rem;
		margin-top: 1rem;
	}

	.coin-logo {
		width: 12rem;
		margin-top: 1rem;
	}

	.large-hero-text {
		margin-bottom: 0.1rem;
		font-size: 4rem;
		text-align: left;
	}

	.wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.sticky-header-column {
		position: static;
		width: 100%;
		height: auto;
		min-height: 50vh;
	}

	.event-video-btn-wrap {
		position: relative;
		width: 100%;
		margin-top: 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.play-button-text {
		font-size: 1.3rem;
	}

	.profile-image {
		width: 12rem;
		height: 300px;
	}

	.about-text-large {
		font-size: 3rem;
	}

	.profile-wrap {
		padding-right: 8%;
		padding-left: 8%;
		opacity: 0.26;
	}

	.video-modal-close-button {
		right: 7%;
	}
}
/* 

Footer

*/

/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */
body {
	background-color: #181818;
	font-family: Integralcf, sans-serif;
	color: #eee;
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
}

.nav-header-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.icon-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 15px;
	margin-bottom: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	color: #f8f8f8;
	font-size: 0.8rem;
	font-weight: 500;
	text-decoration: none;
}

.icon-button:hover {
	font-weight: 700;
}

.icon-button.rotate-icon.top-right {
	margin-right: 0px;
	margin-bottom: 0px;
}
/* 
.page-nav-header {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: auto;
	z-index: 90;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	height: 102px;
	padding-right: 2.4rem;
	padding-left: 2.4rem;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #313131;
	background-color: #000;
} */

.button-icon-outline {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #f8f8f8;
	border-radius: 100px;
}

.simple-nav-header {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #f8f8f8;
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
}

.button-icon {
	width: 20px;
}

.header-logo {
	width: 60px;
	margin-right: 0.8rem;
}

.footer-column {
	padding-right: 10%;
	padding-bottom: 30px;
}

.media-footer-header {
	margin-bottom: -0.4rem;
	color: hsla(0, 0%, 100%, 0);
	font-size: 8rem;
	line-height: 1;
}

.long-button-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 300px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.long-button-title {
	font-weight: 400;
}

.button-icon-2 {
	width: 17px;
}

.long-button {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #f8f8f8;
}

.footer-copyright-section {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 4%;
	padding-right: 5%;
	padding-left: 5%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	color: #fff;
}

.footer-logo {
	position: absolute;
	left: auto;
	top: 10%;
	right: 8%;
	bottom: auto;
	height: 30px;
	-webkit-transition: -webkit-transform 200ms ease;
	transition: -webkit-transform 200ms ease;
	transition: transform 200ms ease;
	transition:
		transform 200ms ease,
		-webkit-transform 200ms ease;
}

.footer-logo:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.bleh-img-link {
	position: absolute;
	left: auto;
	top: 0%;
	right: 6%;
	bottom: auto;
	width: 200px;
}

.long-button-underlay {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	width: 300px;
	height: 40px;
	background-color: #fff;
	-webkit-transform: translate(0%, -40px);
	-ms-transform: translate(0%, -40px);
	transform: translate(0%, -40px);
}

.footer-copyright {
	padding-top: 30px;
	padding-bottom: 19px;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}

.footer-button-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 16px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.button-icon-outline-2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 35px;
	height: 35px;
	margin-right: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #f8f8f8;
	border-radius: 100px;
}

.media-footer-wrap {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 90vw;
	min-height: 70vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.footer-top-section {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 4%;
	padding-right: 5%;
	padding-left: 5%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	color: #fff;
}

.icon-button-text-2 {
	color: #d1d1d1;
	line-height: 1;
	font-weight: 400;
}

.icon-button-text-2.address {
	width: 140px;
	line-height: 1.2;
	font-weight: 400;
}

.long-button-link-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0.6;
}

.icon-button-2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 15px;
	margin-bottom: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	color: #f8f8f8;
	font-size: 0.8rem;
	font-weight: 500;
	text-decoration: none;
}

.icon-button-2:hover {
	opacity: 0.65;
}

.long-button-info {
	position: relative;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 40px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #f8f8f8;
	-webkit-transition: padding 300ms ease;
	transition: padding 300ms ease;
	font-family: Poppins, sans-serif;
	font-weight: 200;
}

.long-button-info:hover {
	padding-right: 15px;
	padding-left: 15px;
}

.footer-columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 5%;
	padding-left: 5%;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.long-button-icon {
	width: 18px;
	margin-bottom: 5px;
	margin-left: 6px;
}

.swell-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	min-height: 70vh;
	padding-top: 5%;
	padding-bottom: 5%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #101010;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.footer-column-header {
	font-weight: 400;
}

.page-hero-section {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	width: 100vw;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.hero-info-wrap {
	z-index: 2;
	display: block;
	padding-right: 17px;
	padding-bottom: 17px;
	padding-left: 17px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.large-page-heading {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 0px;
	margin-bottom: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: Integralcf, sans-serif;
	font-size: 13rem;
	line-height: 0.8;
	font-weight: 900;
	text-align: center;
}

.large-page-heading.outline {
	margin-bottom: 2rem;
}

.page-hero-tag {
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 6px;
}

.page-hero-tag.white {
	color: #fff;
	font-weight: 400;
	text-align: center;
}

.footer-subheading {
	font-weight: 400;
}

.text-block {
	font-family: Poppins, sans-serif;
	font-weight: 200;
	letter-spacing: 2px;
}

.media-footer-header-2 {
	margin-bottom: 20px;
	color: hsla(0, 0%, 100%, 0);
	font-size: 8rem;
}

@media screen and (max-width: 991px) {
	.footer-column {
		padding-right: 0%;
	}

	.media-footer-header {
		font-size: 6rem;
	}

	.footer-copyright-section {
		padding-top: 0%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.footer-logo {
		top: 7%;
		height: 60px;
	}

	.bleh-img-link {
		width: 170px;
	}

	.footer-button-wrap {
		margin-top: 5px;
	}

	.footer-top-section {
		padding-top: 0%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.footer-columns {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding-left: 0%;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.large-page-heading {
		font-size: 9rem;
	}

	.media-footer-header-2 {
		font-size: 6rem;
	}
}

@media screen and (max-width: 767px) {
	.icon-button.rotate-icon.top-right {
		top: 19px;
		right: 71px;
	}

	.page-nav-header {
		height: 72px;
	}

	.button-icon-outline {
		width: 35px;
		height: 35px;
	}

	.simple-nav-header {
		font-size: 1rem;
	}

	.media-footer-header {
		font-size: 5rem;
	}

	.footer-copyright-section {
		padding-top: 4%;
	}

	.footer-logo {
		height: 50px;
	}

	.bleh-img-link {
		width: 140px;
	}

	.button-icon-outline-2 {
		width: 35px;
		height: 35px;
	}

	.footer-top-section {
		padding-top: 4%;
	}

	.footer-columns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.large-page-heading {
		font-size: 6rem;
	}

	.page-hero-tag {
		float: right;
		font-size: 1rem;
		letter-spacing: 7px;
	}

	.media-footer-header-2 {
		font-size: 5rem;
	}
}

@media screen and (max-width: 479px) {
	.icon-button {
		font-size: 0.75rem;
	}

	.icon-button.rotate-icon.top-right {
		top: 21px;
		right: 80px;
		padding-right: 0rem;
	}

	.page-nav-header {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.button-icon-outline {
		margin-right: 6px;
	}

	.simple-nav-header {
		margin-bottom: 3px;
		font-size: 0.8rem;
	}

	.header-logo {
		width: 50px;
		margin-right: 0.5rem;
	}

	.media-footer-header {
		margin-bottom: 10px;
	}

	.long-button-wrap {
		width: 260px;
	}

	.footer-copyright-section {
		padding-top: 15%;
		padding-right: 0%;
		padding-left: 0%;
	}

	.footer-logo {
		top: 1%;
		right: 0%;
		height: 30px;
	}

	.bleh-img-link {
		left: auto;
		top: auto;
		right: 0%;
		bottom: 0%;
	}

	.footer-copyright {
		padding-top: 23px;
	}

	.footer-button-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.button-icon-outline-2 {
		margin-right: 6px;
	}

	.footer-top-section {
		margin-bottom: 19px;
		padding-top: 15%;
		padding-right: 0%;
		padding-left: 0%;
	}

	.icon-button-text-2.address {
		width: 160px;
	}

	.icon-button-2 {
		font-size: 0.75rem;
	}

	.footer-columns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.footer-column-header {
		font-size: 1.2rem;
	}

	.hero-info-wrap {
		margin-bottom: 100px;
	}

	.large-page-heading {
		font-size: 4rem;
	}

	.page-hero-tag {
		font-size: 0.9em;
		letter-spacing: 3px;
	}

	.page-hero-tag.white {
		font-size: 0.7em;
	}

	.media-footer-header-2 {
		margin-bottom: 10px;
	}
}

/* 


FAQ


*/
body {
	background-color: #181818;
	font-family: Integralcf, sans-serif;
	color: #eee;
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
}
.nav-header-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
/* .page-nav-header {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: auto;
	z-index: 90;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	height: 102px;
	padding-right: 2.4rem;
	padding-left: 2.4rem;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #313131;
	background-color: #000;
} */
.simple-nav-header {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #f8f8f8;
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
}
.header-logo {
	width: 60px;
	margin-right: 0.8rem;
}
.long-button {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #f8f8f8;
}
.icon-button-2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 15px;
	margin-bottom: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	color: #f8f8f8;
	font-size: 0.8rem;
	font-weight: 500;
	text-decoration: none;
}
.icon-button-2:hover {
	opacity: 0.65;
}
.accordion-arrow-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 15%;
	height: 70px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.small-accordion-text {
	color: #1f1f1f;
	font-size: 0.9rem;
	line-height: 2;
	font-weight: 400;
}

.small-accordion-pane {
	overflow: hidden;
	background-color: transparent;
}


.small-accordion-item {
	width: 60vw;
	max-width: 800px;
	margin-bottom: 1rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-style: solid;
	border-width: 0.1em;
	border-color: #333334;
	-webkit-transition: box-shadow 200ms ease;
	transition: box-shadow 200ms ease;
}
.small-accordion-item:hover {
	box-shadow: 0 6px 22px -8px #bbb;
}

.simple-accordion-arrow {
	width: 2.5rem;
}
.accordion-icon {
	width: 2rem;
	margin-right: 15px;
	margin-left: 1.5rem;
}
.accordion-pane-content {
	margin-bottom: 5px;
	padding: 0px 25px 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.small-accordion-header {
	width: 85%;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-left: 2rem;
	color: #1f1f1f;
	font-size: 1.2em;
	line-height: 1.3em;
	font-weight: 600;
	text-align: left;
}
.small-accordion-header.with-icon {
	width: 80%;
	padding-left: 0rem;
}

.accordion-tab-button-dark {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 70px;
	padding-top: 11px;
	padding-bottom: 11px;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 10px;
	-webkit-transition:
		box-shadow 200ms ease,
		-webkit-transform 200ms ease;
	transition:
		box-shadow 200ms ease,
		-webkit-transform 200ms ease;
	transition:
		transform 200ms ease,
		box-shadow 200ms ease;
	transition:
		transform 200ms ease,
		box-shadow 200ms ease,
		-webkit-transform 200ms ease;
	cursor: pointer;
}

@media screen and (min-width: 1440px) {
	.section-header-wrapper {
		padding-left: 5.1rem;
	}

}

@media screen and (max-width: 991px) {
	.small-accordion-pane {
		width: 100%;
	}
	.small-accordion-item {
		width: 80vw;
		margin-bottom: 10px;
	}
	.small-accordion-header.with-icon {
		width: 75%;
	}

}
@media screen and (max-width: 767px) {
	.page-nav-header {
		height: 72px;
	}
	.simple-nav-header {
		font-size: 1rem;
	}
	.small-accordion-item {
		width: 90vw;
	}
	.small-accordion-section {
		padding-left: 1.8rem;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.small-accordion-header {
		font-size: 1.4em;
	}
	.accordion-tab-button-dark {
		width: 90vw;
	}

}

@media screen and (max-width: 479px) {
	.page-nav-header {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.simple-nav-header {
		margin-bottom: 3px;
		font-size: 0.8rem;
	}
	.header-logo {
		width: 50px;
		margin-right: 0.5rem;
	}
	.icon-button-2 {
		font-size: 0.75rem;
	}
	.accordion-arrow-wrap {
		width: 15%;
		padding-right: 10px;
	}



	.accordion-pane-content {
		padding-right: 10px;
		padding-left: 10px;
	}
	.small-accordion-header {
		margin-right: 11px;
		padding-left: 5px;
		font-size: 1.2em;
	}
	.small-accordion-header.with-icon {
		width: 70%;
		font-size: 1em;
	}

	.accordion-tab-button-dark {
		padding-right: 7px;
		padding-left: 7px;
	}
	.heading-overflow {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
		padding-top: 0px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.frosted-glass {
	backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em);
}

.outline {
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-stroke: 0.01em #fff;
}

@font-face {
	font-family: 'Integralcf';
	src: url('../fonts/GalderglynnTitling_black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Integralcf';
	src: url('../fonts/GalderglynnTitling_bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Integralcf';
	src: url('../fonts/GalderglynnTitling_regular.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Integralcf';
	src: url('../fonts/GalderglynnTitling_light.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Integralcf';
	src: url('../fonts/GalderglynnTitling_extra.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Integralcf';
	src: url('../fonts/GalderglynnTitling_thin.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Integralcf';
	src: url('../fonts/GalderglynnTitling_hairline.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
